{% extends "training/base.html" %}
{% load    static %}
{% block css-head %}
<link href="{% static 'training/css/select2.css' %}" rel="stylesheet">
<link href="{% static 'training/css/datatables.css' %}" rel="stylesheet">
{% endblock css-head %}


{% block content %}
<header class="page-header">
    <h2>Users</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">

        </ol>
    </div>
</header>
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">

            <a class="mb-xs mr-xs btn btn-primary" href="javascript:void(0);">
                <i class="fa fa-fw fa-plus" style=""></i>Add User </a>


        </div>
        <h2 class="panel-title">User List</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="example1">
            <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Bio</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.user_profile.bio}}</td>
                <td>{{user.date_joined}}</td>
                <td>
                    {% if user.is_active%}
                    <span class="tag label label-success">Active</span>
                    {% else %}
                    <span class="tag label label-danger">Inactive</span>
                    {% endif %}
                </td>
                <td class="actions">
                    <a href="{% url 'user_delete' id=user.id %}" title="Delete User"><i class="fa fa-trash-o"
                                                                                        aria-hidden="true"></i></a>

                    <a href="javascript:void(0);" title="Edit User"><i
                            class="fa fa-pencil"></i></a>
                </td>
            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>
</section>
{% endblock content %}
{% block js-foot %}
<script src="{% static 'training/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'training/js/datatables.js' %}"></script>
<script src="{% static 'training/js/select2.js' %}"></script>
{% endblock js-foot %}

{% block javascript %}
<script>


$(document).ready(function(){


    $('#example1').DataTable({
         "pageLength":10,
         "order": [],
         columnDefs: [
            { orderable: false, targets: -1 }
            ]

    });


});







</script>
{% endblock javascript %}