{% extends "training/base.html" %}
{% load    static %}
{% block css-head %}
<link href="{% static 'training/css/select2.css' %}" rel="stylesheet">
<link href="{% static 'training/css/bootstrap-fileupload.min.css' %}" rel="stylesheet">
{% endblock css-head %}

{% block content %}
<header class="page-header">
    <h2>Actor</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">

        </ol>
    </div>
</header>
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">

        </div>

        <h2 class="panel-title">Actors</h2>
    </header>
    <form class="form-horizontal form-bordered" enctype="multipart/form-data" id="actor_form" method="post">
        {% csrf_token %}
        <div class="panel-body">

            {% if messages %}
            {% for message in messages %}
            <div class="alert
                {% ifequal message.tags 'success'%}
                    alert-success
                {% endifequal %}
                {% ifequal  message.tags 'info'%}
                    alert-info
                {% endifequal %}
                {% ifequal  message.tags 'error'%}
                    alert-danger
                {% endifequal %} ">
                <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="form-group">
                <label class="col-md-3 control-label" for="first_name">First Name <span
                        class="required_fields">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" id="first_name" name="first_name" value="{{actor_names.first_name }}"
                           type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="last_name">Last Name <span
                        class="required_fields">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" id="last_name" name="last_name" value="{{actor_names.last_name }}"
                           type="text">
                </div>
            </div>


        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-5">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </footer>
    </form>
</section>
{% endblock content %}
{% block js-foot %}
<script src="{% static 'training/js/select2.js' %}"></script>
<script src="{% static 'training/js/bootstrap-fileupload.min.js' %}"></script>
<script src="{% static 'training/js/jquery.validate.min.js' %}"></script>
{% endblock js-foot %}
{% block title %}Staff{% endblock %}
{% block javascript %}
<script>


            $("#actor_form").validate({
            rules: {
                first_name: "required",
                last_name: "required",
            },
            messages: {
                first_name:{
                    required:"first name is not null allow",
                },
                last_name:{
                    required: " last name is not null allow"
                },
            },

            highlight: function(element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
                $(element).remove();
            },
            errorPlacement: function( error, element ) {
                element.parent().append( error );
            }
        });
</script>
{% endblock javascript %}